#redesoc {
    text-align: center;
}

#redesoc .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.redes {
    margin: 20px;
}

.redes img{
    width: 80px;
    height: 80px;
}